VITE_AWS_REGION=us-east-1
VITE_COGNITO_USER_POOL_ID=us-east-1_XXXXXXXXX
VITE_COGNITO_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXX
VITE_COGNITO_DOMAIN=prahari-auth-XXXXXXXXXXXX.auth.us-east-1.amazoncognito.com
VITE_API_URL=https://XXXXXXXXXX.execute-api.us-east-1.amazonaws.com/v1
VITE_REDIRECT_URI=http://localhost:5173/callback
VITE_LOGOUT_URI=http://localhost:5173
